/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Stylesheet start */

:root {
  --primary-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 50%, 100%;
  color: var(--primary-dark-magenta);
  text-align: center;
  font-family: "Spartan", sans-serif;
  padding: 80px 0 100px;
  min-height: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 90%;
}

h1 {
  color: var(--primary-dark-magenta);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}

.top p {
  color: var(--neutral-dark-grayish-magenta);
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 25px;
}

.ratings li {
  font-size: 13px;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 20px;
  background-color: var(--neutral-light-grayish-magenta);
}

.ratings img {
  margin: 0 3px;
  height: 20px;
  width: 20px;
}

.ratings span {
  margin-top: 9px;
  display: inline-block;
}

.wrapper {
  margin-bottom: 45px;
}

.testimonials li {
  background-color: var(--primary-dark-magenta);
  padding: 40px 30px 30px;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 16px;
}

img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

h2 {
  color: var(--neutral-white);
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.buyer-type {
  color: var(--primary-soft-pink);
  font-weight: 400;
  font-size: 13px;
}

.quote {
  color: var(--neutral-white);
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 625px) {
  .container {
    width: 65%;
  }
}

@media (min-width: 875px) {
  .container {
    width: 85%;
  }

  body {
    text-align: left;
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-size: 45%, 75%;
    padding: 127px 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top {
    width: 50%;
  }

  .top p {
    margin: 0;
  }

  .ratings li {
    display: flex;
    align-items: center;
  }

  .ratings li:nth-child(2) {
    transform: translateX(-48px);
  }

  .ratings li:nth-child(1) {
    transform: translateX(-96px);
  }

  .ratings span {
    margin: 0 0 0 28px;
  }

  .testimonials {
    display: flex;
    margin-top: 0;
    gap: 25px;
  }

  .testimonials li:nth-child(1) {
    transform: translateY(-16px);
  }

  .testimonials li:nth-child(3) {
    transform: translateY(16px);
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }
}
